@{
    ViewBag.Title = "Contact";
}

<h1> <br /> <br /> </h1>


<h2>Kontakt</h2>
<!-- <h3>@ViewBag.Message</h3> -->

<address>
    Elektrotehnički fakultet Sarajevo<br />
    Zmaja od Bosne bb<br />
    Kampus Univerziteta u Sarajevu<br />
    71000 Sarajevo<br />
    <abbr title="Telefon">Tel:</abbr>
    ++387 33 250 700
</address>

<address>
    <strong>Ajna Zatrić:</strong>   <a href="mailto:azatric1@etf.unsa.ba">azatric1@etf.unsa.ba</a><br />
    <strong>Nadir Avdagić:</strong> <a href="mailto:navdagic1@etf.unsa.ba">navdagic1@etf.unsa.ba</a><br />
    <strong>Edin Avdić:</strong> <a href="mailto:eavdic2@etf.unsa.ba">eavdic2@etf.unsa.ba</a>
</address>