@{
    ViewBag.Title = "Home Page";
}

<!-- TODO: DODATI KADA JE LOGINOVAN DA IDE NA DALJE OPERACIJE, UDOMLJAVNJE, PREGLED KATALOGA, BLA BLA-->

<h1>  <br /> </h1>

<div style="background:transparent !important" class="jumbotron">
    <h3>Av-Mau Sarajevo azil za nezbrinute životinje.</h3>
    <p class="lead">Popuni kratku formu za registraciju i udomi ljubimca odmah.</p>
    <p><a href="@Url.Action("Register", "Korisnik")" class="btn btn-primary btn-lg">Registriraj se &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/slike/randAn1.jpg" alt="additional title" />
    </div>
    <div class="col-md-4">
        <img src="~/slike/randAn3.jpg" alt="additional title" />
    </div>
</div>